<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhenglee.langfangfavor"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".android.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".android.main.SplashActivity"
            android:theme="@style/Theme.Holo.Favor.SplashActivity">
        </activity>
        <activity android:name=".android.main.AboutActivity">
        </activity>
        <activity android:name=".android.modules.home.HomeActivity">
        </activity>
    </application>

</manifest>
