<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhenglee.langfangfavor"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Favor.Base">
        <activity android:name=".android.main.MainActivity"
            android:theme="@style/Favor.Base.NoActionBar.FullScreen.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".android.main.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/Favor.Base.NoActionBar.FullScreen">
        </activity>
        <activity android:name=".android.main.AboutActivity">
        </activity>
        <activity android:name=".android.modules.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Favor.Base.ToolBar">
        </activity>
    </application>

</manifest>
